/*~~~~~~~~~~~~~~~~~~~~~~~~~
INDEX PAGE	
~~~~~~~~~~~~~~~~~~~~~~~~~*/
.index-page {
	@at-root .starting {
		position: relative;
		padding-top: 60px;

		&__spot-bg {
			top: -940px;
			left: 280px;
			z-index: -2;
		}

		&__text-bg {
			right: -9px;
			top: 60px;
		}

		.container	{
			position: relative;
			display: flex;
			justify-content: space-between;
		}

		&__col {
			&-first {
				padding-top: 15px;
				width: 65%;
			}
		}

		&__title {
			margin-bottom: 30px;
			text-transform: uppercase;
		}

		&__utp {
			&-list {
				margin-bottom: 42px;
				font-weight: 500;
				font-size: 18px;
				line-height: (36/18);
				text-transform: uppercase;
			}

			&-item {
				position: relative;
				padding-left: 39px;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 2px;
					display: inline-block;
					width: 24px;
					height: 18px;
					background: url(./../../img/icons/galka.png) no-repeat;
					background-size: contain;
				}
			}
		}

		&__text {
			margin: 25px 0;
		}

		&__application {
			width: 545px;

			.application__btn {
				margin-top: 15px;
				height: 45px;
				min-width: 210px;
				font-size: 16px;
				line-height: 45px;
			}
		}

		@include desctop-mid {
			&__col {
				&-first {
					width: 60%;
				}
			}

			&__piece {
				width: 400px;
			}
		}

		@include desctop-min {
			&__text-bg {
				display: none;
			}

			&__col {
				&-first {
					width: 580px;
				}
			}

			&__piece {
				width: 320px;
			}

			&__application {
				width: auto;

				.b-input {
					max-width: none;
				}
			}
		}

		@include table {
			.container {
				flex-direction: column;
			}

			&__col-first {
				padding-top: 0;
				width: auto;
			}

			&__col-second {
				margin-top: 60px;
			}

			&__piece {
				margin: 0 auto;
			}

			&__text {
				font-size: 22px;
			}
		}

		@include mobile {
			padding-top: 36px;

			&__spot-bg {
				top: -190px;
				left: auto;
				right: -100px;
				width: 433px;
				height: 322px;
			}

			&__title {
				margin-bottom: 15px;
			}

			&__piece {
				width: 44%;
			}

			&__utp {
				&-list {
					font-size: 14px;
				}

				&-item {
					padding-left: 35px;

					&::before {
						width: 20px;
						height: 15px;
					}
				}
			}

			&__text {
				margin: 20px 0;
				font-size: 16px;
				line-height: (24/16);
			}

			&__application {
				.b-input {
					--air: 18px;
				}

				.application__btn {
					margin-top: 10px;
				}
			}
		}
	}

	&__categories {
		margin-top: 135px;

		@include desctop-min {
			margin-top: 130px;
		}

		@include mobile {
			margin-top: 56px;
		}
	}

	&__examples {
		margin-top: 100px;

		@include desctop-min {
			margin-top: 90px;
		}

		@include mobile {
			margin-top: 52px;
		}
	}
	
	&__order-process {
		margin-top: 95px;
		background-color: #fcfcfc;

		@include mobile {
			margin-top: 52px;
		}
	}

	&__eco {
		margin-top: 97px;

		@include mobile {
			margin-top: 39px;
		}
	}

	@at-root .eco {
		.container {
			min-height: 415px;
		}

		&__content {
			display: flex;
			justify-content: space-between;

			&-col {
				width: 39%;
			}

			&-bg {
				align-self: center;
				width: 456px;
				height: 314px;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		&__title {
			margin-bottom: 48px;
		}

		&__text:not(:last-child) {
			margin-bottom: 30px;
		}

		&__list {
			margin-top: -80px;

			&-item {
				position: relative;
				padding-top: 85px;
				max-width: 245px;

				&:not(:last-child) {
					margin-bottom: 38px;
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					width: 64px;
					height: 64px;
					transform: translateX(-50%);
					background: url(./../../img/pages/index/eco_sprites.png) no-repeat;
				}

				&:nth-of-type(1)::before {
					background-position: -10px -10px;
				}
				&:nth-of-type(2)::before {
					background-position: -10px -90px;
				}
				&:nth-of-type(3)::before {
					background-position: -10px -173px;
				}
			}
		}

		@include desctop-mid {
			&__content-bg {
				width: 364px;
				height: 263px;
			}
		}

		@include desctop-min {
			&__content-col {
				width: 60%;
			}

			&__content-bg {
				display: none;
			}
		
		}

		@include table {
			.container {
				background: none;
			}

			&__content {
				flex-direction: column;
				justify-content: flex-start;
				width: auto;

				&-col {
					width: auto;
				}
			}

			&__list {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 30px 0 -20px;

				&-item {
					margin: 0 20px 20px;
				}
			}
		}

		@include mobile {
			&__title {
				margin-bottom: 35px;
			}
		}
	}

	&__reviews {
		margin-top: 70px;
	}

	&__final {

	}

	@at-root .final {
		position: relative;
		padding: 70px 0 100px;

		.container {
			display: flex;
			justify-content: space-between;
		}

		&__text-bg {
			top: 0;
			right: -3px;
		}

		&__col {
			&-title {
				margin-bottom: 70px;
				text-align: center;
			}
			&-second {
				padding: 20px 0 0;
				width: 54.4%;
			}
		}

		.application {
			&__btn {
				margin-top: 55px;
				min-width: 315px;
				height: 70px;
				font-size: 24px;
				border-radius: 35px;
			}

			.b-input {
				--pd: 0 52px;
				--air: 36px;
				--height: 65px;
				--fs: 24px;
				--border: 2px solid var(--border-color-lig);

				&-file::before {
					right: 29px;
					width: 24px;
					height: 24px;
					background-image: url(./../../img/clip@1.5x.png);
				}
			}
		}

		&__piece {
			width: 390px;
		}

		@include desctop-mid {
			&__col {
				&-title {
					margin-bottom: 50px;
				}

				&-second {
					width: 60%;
				}
			}
			
			&__piece {
				width: 370px;
			}
		}

		@include desctop-min {
			&__text-bg {
				display: none;
			}

			&__col {
				&-title {
					margin-bottom: 45px;
				}

				&-second {
					width: 60%;
				}
			}

			.application {
				&__btn {
					margin-top: 35px;
					min-width: 290px;
					height: 60px;
					font-size: 22px;
					border-radius: 30px;
				}
	
				.b-input {
					--pd: 0 45px 0 40px;
					--air: 28px;
					--height: 55px;
					--fs: 22px;
					--border: 2px solid var(--border-color-lig);
	
					&-file::before {
						right: 22px;
						width: 22px;
						height: 22px;
					}
				}
			}
			
			&__piece {
				width: 320px;
			}
		}

		@include table {
			padding: 50px 0 80px;

			.container {
				flex-direction: column;
			}

			&__col-title {
				margin-bottom: 35px;
			}
	
			&__col-second {
					margin-bottom: 60px; 
					order: -1;
					padding: 0;
					width: auto;
			}
	
			&__piece {
				margin: 0 auto;
				width: 320px;
			}
		}

		@include mobile {
			&__col-first {
				margin-bottom: 42px;
			}

			.application {
				&__btn {
					margin-top: 30px;
					min-width: 212px;
					height: 47px;
					font-size: 16px;
					border-radius: 23.5px;
				}
	
				.b-input {
					--pd: 0 40px 0 37px;
					--air: 18px;
					--height: 45px;
					--fs: 16px;
					--border: 2px solid var(--border-color-lig);
	
					&-file::before {
						right: 19px;
						width: 18px;
						height: 18px;
					}
				}
			}

			&__piece {
				width: 44%;
			}
		}
	}
}