/*~~~~~~~~~~~~~~~~~~~~~~~~~
COMMON BLOCKS
~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*logo*/
.logo {
	display: inline-block;
	width: 367px;
}

/*dropdown*/
[data-dropdown="list"] {
	height: 0;
	min-height: 0;
	overflow: hidden;
	transition-property: min-height, height;
	transition-duration: $duration;
}

/*hemburger*/
.hamburger {
	$bg-line: var(--border-color-lig);

	cursor: pointer;
	position: relative;
	width: 51px;
	height: 37px;
	overflow: hidden;
	transition: background-color $duration;

	&.active {
		span {
			background-color: transparent;

			&::after,
			&::before {
				transition: top $duration, bottom $duration, transform $duration $duration;
			}

			&::before {
				bottom: 0;
				transform: rotate(-45deg);
			}

			&::after {
				top: 0;
				transform: rotate(45deg);
			}
		}


	}

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		display: block;
		width: 100%;
		height: 5px;
		background-color: $bg-line;
		transform: translate(-50%, -50%);
		transition: background 0s $duration;
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: $bg-line;
			transition: top $duration $duration, bottom $duration $duration, transform $duration 0s;
		}

		&::before {
			bottom: calc(100% + 11px);
		}

		&::after {
			top: calc(100% + 11px);
		}
	}
}

/*search*/
.search {
	--height: 49px;

	display: inline-block;
	width: var(--height);
	height: var(--height);
	background-color: #fff;
	transition: width $duration;

	&.active {
		width: 330px;

		.search__input {
			padding: 0px 42px 0 27px;
			opacity: 1;
			transition: opacity $duration 0.1s, padding 0s 0s;
		}
	}

	&__inner {
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 100%;
		border: 1px solid #101010;
		border-radius: calc(var(--height) / 2);
		overflow: hidden;
	}

	&__input {
		line-height: var(--height);
		width: 100%;
		text-overflow: ellipsis;
		opacity: 0;
		border-radius: inherit;
		transition: opacity $duration, padding $duration $duration;

		&::placeholder {
			color: #a8a7a7;
		}
	}

	&__ic {
		position: absolute;
		top: calc(50%);
		right: 10px;
		display: inline-block;
		width: 25px;
		height: 25px;
		background-image: url('./../../img/icons/search.png');
		background-repeat: no-repeat;
		background-size: contain;
		transform: translateY(-50%);
	}

	@include desctop-mid {
		&.active {
			width: 100%;
		}
	}

	@include tel {
		&.active {
			width: calc(100% - 40px);
		}
	}
}

/*types payment*/
.types-payment {
	display: flex;

	&__item {
		margin-right: 7px; 
		height: 28px;

		&:last-child {
			margin-right: 0;
		}

		img {
			max-height: 100%;
		}
	}
}

/*contacts*/
.contacts {
	$this: &;

	font-size: 18px;

	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		display: inline-block;
		margin-right: 7px;
		white-space: nowrap;

		img {
			height: 25px;
		}
	}

	&__tel {
		margin: 0 0 0 8px;	
	}

	/*contacst for mobile*/
	&--for-mobile {
		display: none;
		
		#{$this}__item {
			margin-right: 10px;

			img {
				height: 42px;
			}
		}

		@include table {
			display: block;
		}
	}
}

/*form-info*/	
.firm-info {
	position: relative;
	display: inline-block;
	font-weight: var(--fm-1_fw-s);
	font-size: 16px;

	&--mail,
	&--address, 
	&--delivery,
	&--tel {
		&::before {
			content: '';
			position: absolute;
			left: 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	&--mail {
		padding-left: 32px;

		&::before {
			width: 19px;
			height: 14px;
			background-image: url('./../../img/icons/envelope.png');
		}
	}

	&--address {
		padding-left: 30px;

		&::before {
			top: -2px;
			width: 19px;
			height: 18px;
			background-image: url('./../../img/icons/home.png')
		}
	}

	&--delivery {
		padding-left: 28px;

		&::before {
			top: -2px;
			width: 18px;
			height: 18px;
			background-image: url('./../../img/icons/checked.png')
		}
	}

	&--tel {
		padding-left: 30px;

		&::before {
			width: 16px;
			height: 16px;
			background-image: url('./../../img/icons/sci/phone-call.png')
		}
	}
}

/*piece*/
.piece {
	width: 435px;
	box-shadow: -13px 13px 25px rgba(0,0,0, 0.21);
}

.text-bg,
.spot-bg {
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: contain;
}

.text-bg {
	width: 105px;
	height: 614px;
	
	@include desctop-mid {
		width: 90px;
		height: 493px;
	}
}

.spot-bg {
	width: 2113px;
	height: 1561px;
}

#location {
	height: 613px;

	@include desctop-min {
		height: 450px;
	}

	@include mobile {
		height: 380px;
	}
}

/*b-input*/
.b-input {
	--pd: 0 45px 0 36px;
	--air: 29px;
	--height: 49px;
	--fs: 16px;
	--border: 1px solid var(--border-color-lig);

	display: inline-block;
	margin-bottom: var(--air);
	max-width: 785px;
	width: 100%;

	input,
	&-file {
		padding: var(--pd);
		height: var(--height);
		width: 100%;
		line-height: 1;
		font-size: var(--fs);
		background-color: #fff;
		border: var(--border);
		border-radius: calc(var(--height) / 2);
		text-overflow: ellipsis;
	}

	input::placeholder,
	&-file span {
		font-weight: 300;
		font-family: inherit;
		color: #a8a7a7;
	}

	&-file {
		cursor: pointer;
		position: relative;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 22px;
			width: 18px;
			height: 18px;
			background-image: url('./../../img/clip.png');
			background-repeat: no-repeat;
			background-size: contain;
			transform: translateY(-50%);
		}

		input {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
		}

		span {
			line-height: var(--height);
		}
	}
}

/*categories*/
.categories {
	padding: 65px 0 59px;
	background-color: #fcfcfc;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 125px;
		gap: 30px;
	}

	&__item {
		$this: &;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		&-img {
			display: block;
			max-height: 445px;
			max-width: 454px;

			img {
				max-height: 100%;
			}

			#{$this}--paint & {
				max-width: 445px;
				max-height: 445px;
			}

			#{$this}--photo & {
				max-width: 545px;
				max-height: 430px;
			}
		}

		&-btn {
			margin-top: 20px;
		}
	}

	@include desctop-mid {
		.container {
			padding: 0 60px;
		}
	}

	@include desctop-min {
		.container {
			padding: 0 30px;
		}

		&__item {
			$this: &;
	
			&-img {
				#{$this}--paint &,
				#{$this}--photo & {
					max-width: 370px;
				}
			}
		}
	}

	@include table {
		.container {
			flex-wrap: nowrap;
			flex-direction: column;
			align-items: center;
			gap: 0;	
		}

		&__item:not(:first-child) {
			margin-top: 90px;
		}
	}

	@include mobile {
		padding: 42px 56px;
		
		&__item {
			$this: &;
			&-img {
				#{$this}--paint &,
				#{$this}--photo & {
					max-width: 280px;
				}
			}
		}
	}
}

/*examples*/
.examples {
	
	&__title {
		margin-bottom: 50px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 42px;
	}

	&__item {
		padding-bottom: 100%;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 7px;
	}

	&__btn {
		--min-width: 275px;
		--height: 51px;

		margin: 80px auto 0;
	}

	@include desctop-min {
		&__list {
			column-gap: 30px;
		}

		&__btn {
			margin: 55px auto 0;
		}
	}

	@include table {
		&__list {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 25px;
			column-gap: 25px;
		}
	}

	@include mobile {
		&__title {
			margin-bottom: 30px;
		}

		&__btn {
			--height: 49px;
		}
	}

	@include tel {
		&__list {
			grid-template-columns: 1fr;
			padding: 0 30px;
		}

		&__item:not(:nth-child(1)):not(:nth-child(2)) {
			display: none;
		}
	}
}

/*order process*/
.order-process {
	padding: 70px 0 60px;
	&__title {
		margin-bottom: 125px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item	{
		position: relative;
		display: inline-flex;
		min-width: 205px;
		max-width: 235px;
		align-items: center;
		font-weight: 300;
		font-size: 16px;
		line-height: (18/16);
		font-family: var(--fm-2);
		text-align: center;
		
		&-img {
			position: relative;
			margin-bottom: 30px;
			height: 109px;
			width: 150px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			&::before {
				content: "";
				position: absolute;
				right: calc(100% + 40px);
				top: 50%;
				width: 47px;
				height: 37px;
				background: url(./../../img/components/order-process/arrow.png) no-repeat;
				background-size: contain;
				transform: translateY(-50%);
			}

			.order-process__item:nth-of-type(1) & {
				width: 104px;

				&::before {
					display: none;
				}
			}

			.order-process__item:nth-of-type(2) & {
				width: 103px;
			}

			.order-process__item:nth-of-type(3) & {
				width: 122px;
			}

			.order-process__item:nth-of-type(4) & {
				width: 109px;
			}

			.order-process__item:nth-of-type(5) & {
				width: 92px;
			}
			.order-process__item:nth-of-type(6) & {
				width: 105px;
			}
		}
	}

	&__telegram,
	&__viber {
		display: inline-block;
		margin-bottom: -3px;
		width: 16px;
		height: 16px;
		background-image: url(./../../img/components/order-process/cont_sprites.png);
	}

	&__telegram {
		background-position: -10px -10px;
	}

	&__viber {
		background-position: -46px -10px;
	}

	@include desctop-mid {
		&__title {
			margin-bottom: 90px;
		}

		&__item	{			
			&-img {
				&::before {
					right: calc(100% + 30px);
					width: 47px;
					height: 37px;
				}
			}
		}
	}

	@include desctop-min {
		&__list {
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 0 -35px -30px;
		}

		&__item	{	
			margin: 0 0 35px 30px;		
			&-img {
				&::before {
					display: none;
				}
			}
		}
	}

	@include table {
		&__item	{	
			width: calc(50% - 30px);
		}
	}

	@include mobile {
		&__title {
			margin-bottom: 45px;
		}
	}
}

/*reviews and reviews*/
.review {
	&s {
		padding: 70px 0 80px;
		background-color: #fcfcfc;

		&__title {
			margin-bottom: 40px;
		}

		&__subtitle {
			margin-bottom: 25px;
		}

		&__btn {
			--min-width: 275px;
			--height: 51px;
			margin: 68px auto 0;
		}
	}

	&s__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 -40px -53px;
	}

	//review
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 138px 0 40px 53px;
	padding: 120px 32px 29px 37px;
	width: calc(50% - 53px);
	background-color: #fff;
	border-radius: 7px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		box-shadow: 0 0 9px rgba(0,0,0, 0.08);
		pointer-events: none;
	}
	
	&::before {
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: #fff;
		border-radius: inherit;
	}

	&::after {
		z-index: -2;
		width: 163px;
		height: 163px;
		border-radius: 50%;
	}

	&__avatar,
	&:after {
		position: absolute;
		left: 50%;
		top: -113px;
		transform: translateX(-50%);
	}

	&__avatar {
		&-img {
			position: relative;
			z-index: 1;
			margin: 0 auto;
			width: 163px;
			height: 163px;
			overflow: hidden;
			border: 14px solid #fff;
			border-radius: 50%;
			background-color: var(--border-color-lig);
			background-repeat: no-repeat;
			background-size: 185%;
			background-position: center;
		}

		&-name {
			position: relative;
			margin-top: 6px;
			font-weight: 700;
			font-size: 18px;
			line-height: (31/18);
			text-align: center;

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: calc(100% + 14px);
				width: 100px;
				height: 3px;
				background-color: var(--border-color-lig);
				transform: translateX(-50%);
			}
		}
	}

	&__text {
		align-self: flex-start;
		margin-bottom: 17px;
		font-size: 18px;
		line-height: (31/18);
	}

	&__btn {
		margin-top: auto;
		height: 29px;
		min-width: 129px;
		border-width: 1px;
		font-size: 12px;
	}

	@include table {
		&s {
			padding: 60px 0 70px;
			
			&__list {
				flex-direction: column;
			}
		}
	
		//review item
		width: auto;
	}

	@include mobile {
		&s {
			padding: 54px 0 35px;
	
			&__title {
				margin-bottom: 30px;
			}
	
			&__subtitle {
				margin-bottom: 5px;
			}
	
			&__btn {
				margin: 46px auto 0;
			}
		}
	
		&:not(:nth-of-type(1)) {
			display: none;
		}
		//review
		margin: 56px 0 40px 53px;
		padding: 90px 15px 30px 15px;
	
		&::after {
			width: 80px;
			height: 80px;
		}
	
		&__avatar,
		&:after {
			top: -56px;
		}
	
		&__avatar {
			&-img {
				width: 80px;
				height: 80px;
				overflow: hidden;
				border: 7px solid #fff;
			}
	
			&-name {
				margin-top: 5px;
			}
		}
	
		&__text {
			margin-bottom: 0;
			font-size: 14px;
			line-height: (24/14);
		}
	
		&__btn {
			margin-top: 20px;
			font-size: 12px;
		}
	}
}

/*consult*/
.consult {
	padding: 99px 0 110px;
	background: url(./../../img/components/consult/bg-right.png) no-repeat right top;

	$heightEl: 57px;
	$widthEl: 29.64%;

	&__title {
		margin-bottom: 75px;
	}

	&__form {
		display: flex;
		justify-content: space-between;

		.b-input {
			--pd: 0 30px;
			--air: 24px;
			--height: #{$heightEl};
			--fs: 16px;
			--border: 2px solid #2f2d2e;
		}

		&-btn,
		&-col {
			max-width: $widthEl;
			width: 100%;
		}

		&-btn {
			height: $heightEl;
			font-size: 18px;
		}

		&-desc {
			padding: 0 20px 0 10px;
			font-size: 16px;
			line-height: (20/16);
			color: #a8a7a7;
		}
	}
	
	@include desctop-mid {
		&__form {
			flex-direction: column;
			align-items: center;
		
			&-col,
			&-btn {
				max-width: 70%;
			}			

			&-col:not(:first-child) {
				margin-top: 35px;
			}

			&-btn {
				margin-top: 47px;
			}
		}
	}

	@include mobile {
		padding: 40 0 67px;
		background: none;

		&__title {
			margin-bottom: 47px;
		}

		&__form {
			&-col,
			&-btn {
				max-width: none;
			}			
		}
	}
}

/*advantage*/
.advantage {
	padding: 85px 0 95px;
	background-color: #fcfcfc;

	&__title {
		margin-bottom: 85px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-content: space-between;
		column-gap: 30px;
		row-gap: 85px;
	}

	&__item {
		display: flex;
		align-items: center;

		&-img {
			flex-shrink: 1;
			width: 132px;
			height: 110px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		&-text {
			flex-shrink: 2;
			margin-left: 32px;
			max-width: 210px;
		}
	}

	@include desctop-min {
		&__list {
			row-gap: 55px;
		}

		&__item {
			&-img {
				width: 102px;
				height: 85px;
			}

			&-text {
				margin-left: 25px;
			}
		}
	}

	@include table {
		&__list {
			grid-template-columns: repeat(2, auto);
			justify-content: center;
			row-gap: 65px;
		}

		&__item {
			&-img {
				width: 132px;
				height: 110px;
			}

			&-text {
				margin-left: 32px;
			}
		}
	}

	@include mobile {
		padding: 37px 0 68px;

		&__title {
			margin-bottom: 50px;
		}
		
		&__list {
			display: block;
			grid-template-columns: none;
			row-gap: 0;
			column-gap: 0;
		}

		&__item {
			&:not(:first-child){
				margin-top: 45px;
			}
			&-text {
				max-width: none;
			}
		}
	}
}

/*customers*/
.customers {
	padding: 95px 0 110px;

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 -30px -70px;
	}

	&__img {
		display: inline-block;
		margin: 0 0 30px 70px;
	}

	@include desctop-mid {
		&__list {
			justify-content: center;
		}
	}

	@include mobile {
		&__title {
			margin-bottom: 53px;
		}

		&__list {
			margin: 0;
		}

		&__img {
			margin: 0;
		}

		picture {
			display: none;
		}
	}
}

/*blog and note*/
.blog {
	$airNote: 90px;

	padding: 70px 0;
	background-color: #fcfcfc;

	&__title {
		margin-bottom: 54px;
	}

	&__notes {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 -40px -#{$airNote};
	}

	&__note {
		margin: 0 0 40px $airNote;
		width: calc(33% - #{$airNote});
	}

	&__btn {
		margin: 69px auto 0;
	}

	@at-root .note {
		display: flex;
		flex-direction: column;
		border-radius: 7px;
		box-shadow: 0 0 9px rgba(0,0,0, 0.08);
		overflow: hidden;
		font-size: 14px;

		&__img {
			padding-bottom: 57.8%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		&__content {
			display: flex;
			flex-direction: column;
			padding: 25px 17px 40px;
			height: 100%;
		}

		&__title {
			margin-bottom: 22px;
			font-weight: 500;
			font-size: 18px;
		}

		&__text {
			margin-bottom: 15px;
			line-height: (20/14);
		}

		&__btn {
			align-self: flex-start;
			margin-top: auto;
			height: 29px;
			min-width: 129px;
			border-width: 1px;
			font-size: 12px;
		}
	}

	@include desctop-mid {
		$airNote: 50px;
		&__notes {
			display: flex;
			margin: 0 0 -40px -#{$airNote};
		}
	
		&__note {
			margin: 0 0 40px $airNote;
			width: calc(33% - #{$airNote});
		}
	}

	@include desctop-min {
		$airNote: 35px;

		&__notes {
			display: flex;
			margin: 0 0 -40px -#{$airNote};
		}
	
		&__note {
			margin: 0 0 40px $airNote;
			width: calc(50% - #{$airNote});

			&:nth-of-type(2) + & {
				display: none;
			}
		}
	}

	@include mobile {
		padding: 47px 0 65px;

		&__title {
			margin-bottom: 43px;
		}

		&__notes {
			justify-content: center;
		}

		&__note {
			max-width: 410px;
			width: auto;

			&:nth-of-type(1) + & {
				display: none;
			}
		}

		&__btn {
			margin-top: 58px;
		}

		@at-root .note {
			&__content {
				padding: 27px 16px 40px;
			}

			&__title {
				font-size: 16px;
			}

			&__text {
				margin-bottom: 25px;
			}
		}
	}
}

/*info*/
.info {
	padding: 90px 0 70px;

	&__title {
		margin-bottom: 45px;
	}

	&__text {
		margin-top: 35px;
	}

	@include mobile {
		padding: 40px 0 20px;

		&__title {
			margin-bottom: 30px;
		}
		
		&__text {
			margin-top: 30px;
		}
	}
}

/*application*/
.application {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__b-input:nth-child(1), 
	&__b-input:nth-child(2) {
		width: calc(50% - 13px);
	}

	&__btn {
		margin-top: 39px;
		margin-left: auto;
		margin-right: auto;
	}

	@include mobile {
		&__b-input:nth-child(1), 
		&__b-input:nth-child(2) {
			width: 100%;
		}
	}
}
