/*~~~~~~~~~~~~~~~~~~~~~~~~~
COMMON BUTTON
~~~~~~~~~~~~~~~~~~~~~~~~~*/
%baseOption {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	font-weight: var(--fm-1_fw-m);
	align-items: center;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	transition: all $duration;
}

.btn-type-1 {
	@extend %baseOption;
	padding: 0 12px;
	min-width: 212px;
	height: 47px;
	font-weight: var(--fm-1_fw-m);
	font-size: 18px;
	border: 3px solid var(--border-color-lig);
	background-color: var(--btn-bg-lig);
	border-radius: 23.5px;

	&:hover {
		background-color: transparent;
	}
}

.btn-type-2 {
	--height: 48px;
	--min-width: 214px;
	--tint: var(--btn-bg-lig);

	@extend %baseOption;
	padding: 0 12px;
	height: var(--height);
	min-width: var(--min-width);
	font-weight: var(--fm-1_fw-m);
	font-size: 18px;
	text-transform: uppercase;
	background-color: transparent;
	border: 3px solid var(--tint);
	border-radius: calc(var(--height) / 2);
	transition-property: color, background-color;
	transition-duration: $duration;
	

	&:hover {
		background-color: var(--tint);
	}
}

.btn-type-2--light {
	--tint: var(--btn-bg-lig);
	@extend .btn-type-2;
}

.btn-type-2--dark {
	--tint: var(--btn-bg-dark);
	@extend .btn-type-2;

	&:hover {
		color: #fff;
	}
}
